.dm-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 60px;
}

.top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
    border-bottom: 1px solid #e5e7eb;
    background-color: #fff;
    z-index: 1000;
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.back-icon {
    color: #374151;
    font-size: 1.5rem;
}

.page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    color: #374151;
}

.set-delivery-container,
.transaction-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f4f4f8;
    border-bottom: 1px solid #e5e7eb;
}

.set-delivery-button,
.cancel-transaction-button,
.complete-transaction-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

.set-delivery-button {
    background-color: #48a9f8;
    color: white;
}

.cancel-transaction-button {
    background-color: #f87171;
    color: white;
}

.complete-transaction-button {
    background-color: #34d399;
    color: white;
}

.hidden {
  display: none; /* 要素を非表示にする */
}

.top-buttons {
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  justify-content: space-around;
  left: 0;
  padding-top: 10px;
  position: fixed;
  top: 60px;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  width: 100%;
  z-index: 1000;
  border-radius: 0 0 20px 20px;
}

.hidebutton {
  position: fixed;
  width: 100%;
  z-index: 1000; 
  transform: scale(1);
  transform-origin: top 50%;
  border-bottom: 1px solid #e5e7eb;
  transition: transform 0.2s;
  &.shown {
    transform: scale(0);
  }
}

.hidebutton button {
  width: 100%;
}

.top-button.primary {
  text-align: center;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	border: 2px solid #2563eb;;
	color: #2563eb;;
  background-color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
}

.item-status {
  display: block;
  text-align: center;
  max-width: 100%;
}
.top-button.secondary {
  text-align: center;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	border: 2px solid #e11d48;;
	color: #e11d48;;
  background-color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
  margin-left: 50px;
}

.top-button-stop{
  text-align: center;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	border: 2px solid #e11d48;;
	color: #e11d48;;
  background-color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
  margin: auto;
}

.top-button.success {
  text-align: center;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	border: 2px solid #2563eb;;
	color: #2563eb;;
  background-color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
  margin-right: 50px
}

.top-button:hover {
  opacity: 0.9; /* ホバー時の透明度 */
}
/* General styling for messages */
.dm-messages {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  padding-top: 16px; /* ボタンの高さを考慮して余白を追加 */
  gap: 10px; /* Adds space between messages */
  overflow-y: auto; /* Allow vertical scrolling */
  flex-grow: 1; /* Fill remaining space */
  padding-bottom: 20px;
  margin-top: 90px;
}

  
/* Wrapper for each message */
/* .message-wrapper {
  display: flex;
  flex-direction: column;
} */
 .message-div {
  display: flex;
 }
.message-wrapper {
  position: relative; /* 相対位置を設定 */
}

.delete-overlay {
  position: absolute; /* 絶対位置を設定 */
  top: 0; /* メッセージの上部に配置 */
  left: 0; /* メッセージの左部に配置 */
  right: 0; /* メッセージの右部に配置 */
  bottom: 0; /* メッセージの下部に配置 */
  background-color: rgba(255, 255, 255, 0); /* 透明な背景 */
  cursor: pointer; /* マウスカーソルをポインターに */
}

/* Right aligned messages */
.message-wrapper.right {
  align-self: flex-end; /* Aligns messages to the right */
  flex-direction: row-reverse;
  margin-left: auto;
  display: flex;
}

  
/* Left aligned messages */
.message-wrapper.left {
  align-self: flex-start; /* Aligns messages to the left */
  flex-direction: row;
  display: flex;
}
  
/* Message bubble styling */
.message-bubble {
  background-color: #e1ffc7; /* Light green for right bubble */
  border-radius: 20px;
  padding: 10px 15px;
  word-wrap: break-word;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}

.message-wrapper.left .message-bubble {
  background-color: #ffffff; /* White for left bubble */
  border: 1px solid #ddd;
}

.message-text.on {
  margin: 0;
  font-size: 14px;
  color: #333;
  user-select: none; /* テキスト選択を無効にする */
}

.message-text.off {
  margin: 0;
  font-size: 14px;
  color: #d3cccc;
}

.message-text {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.message-image {
  width: 100%;
  max-width: 200px; /* Limits image size */
  margin-top: 5px;
  border-radius: 10px;
}

/* Time styling */
.span-time {
  align-self: flex-end;
  margin-bottom: 5px;
}

.message-time {
  font-size: 12px;
  color: #999;
}

.dm-input {
    position: fixed;
    bottom: 0px;
    /* bottom: 60px; */
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #e5e7eb;
    background-color: #fff;
    z-index: 1000;
}

.cm-input {
  position: fixed;
  /* bottom: 0px; */
  bottom: 60px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 35px;
  border-top: 1px solid #e5e7eb;
  background-color: #fff;
  z-index: 1000;
}

.image-upload-button,
.send-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.add-icon,
.send-icon {
    font-size: 24px;
}

.input-box {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    margin: 0 10px;
}




.talk.date {
    padding: 16px 0;
    line-height: 16px;
    width: 100%;
    text-align: center;
}

.talk.date p {
    display: inline-block;
    background-color: #7C90B4;
    color: #fff;
    padding: 4px 16px;
    border-radius: 16px;
    margin: 0 auto;
    font-size: 14px;
}

.set-delivery-container,
.transaction-buttons {
    position: sticky;
    top: 60px;
    /* Position it just below the top navigation */
    z-index: 1000;
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
}

.date-message {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 5px 15px; /* 縦横の余白 */
  font-size: 14px; /* テキストサイズ */
  font-weight: bold; /* 文字を太字に */
  color: #ffffff; /* テキストカラーを白に */
  background-color: #8f8f8f; /* 背景色  */
  opacity: 0.5; /* 要素全体の透明度を50%に設定 */
  border-radius: 20px; /* 丸みをつける */
  text-align: center; /* テキストを中央揃え */
  margin: 10px auto; /* 上下のマージンを設定 */
}

.item-status-div {
  margin: 10px;
  margin-top: 0
}

button.bgtop {
  border-bottom: 1px solid #e5e7eb;
  background-color: #FFFFFF;
  color: #333;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bgtop span {
  position: relative;
  z-index: 3;
  color: #333;
  -webkit-text-size-adjust: 100%;

}

.dm-warning {
  margin-top: 1rem;
  font-size: medium;
  color: #ff5555;
}

.dm-okey {
  margin-top: 1rem;
  font-size: medium;
  color: #55adff;
}

.up-arrow {
  color: #8f8f8f;
  margin-top: 8px;
  padding: 1px 0;
  text-align: center;
  width: 100%;
}

select.selectbox-3 {
  display: inline-flex;
  align-items: center;
  position: relative;
  max-width: 50%;
  padding: .2em calc(.4em + 15px) .2em .2em;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fff; /* 背景色 */
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.selectbox-3::before {
  content: ''; /* コンテンツの指定 */
  display: inline-block;
  position: absolute; /* 絶対位置を設定 */
  right: 0;
  top: 50%; /* 縦の位置を中央に */
  transform: translateY(-50%); /* 中央揃え */
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 3px 3px 0;
  background-color: #6edd55; /* 矢印の背景色 */
  z-index: 1; /* 背景色を前面に */
}

.selectbox-3::after {
  position: absolute;
  top: 50%;
  right: 1.4em; /* 位置を調整 */
  transform: translate(50%, -50%) rotate(45deg); /* 回転させる */
  width: 6px; /* サイズを調整 */
  height: 6px; /* サイズを調整 */
  border-bottom: 3px solid #6edd55; /* 矢印の色を背景に合わせる */
  border-right: 3px solid #6edd55; /* 矢印の色を背景に合わせる */
  content: '';
  pointer-events: none;
}

select.selectbox-3 select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em 3.6em .4em .8em;
  border: none;
  border-radius: 3px;
  background-color: #fff; /* プルダウンの背景色 */
  color: #333;
  font-size: 1em;
  cursor: pointer;
}

select.selectbox-3:focus {
  outline: 2px solid #6edd55; /* フォーカス時のアウトライン */
}
