.liked-items-page {
    padding-top: 60px;
}

.liked-items-list {
    margin-top: 20px;
    padding-bottom: 60px;
}

.pp {
    text-align: center;
    margin: 60px;
}

.tab-bar {
    position: sticky; /* Sticky positioning */
    top: 60px; /* Adjust this based on the height of top-navigation */
    z-index: 999; /* Ensure it appears above other elements */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff; /* Ensure background color covers underlying elements */
    border-bottom: 1px solid #ddd;
}

.pull-container::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.pull-container select {
  width: 100%;
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: none;
  border-bottom: 2px solid #d0d0d0;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.pull-container select:focus {
  outline: none;
}

.pull-container {
  align-items: center;
  display: inline-flex;
  position: relative;
  width: 95%;
  margin: 10px 10px 0px 10px;
}