/* General Container */
.listing-detail-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
  }
  
  .listing-content {
    padding: 80px 16px 16px 16px; /* Added top padding to avoid overlap */
  }
  
  .listing-header {
    display: flex;
    align-items: center;
  }
  
  .avatar-icon {
    font-size: 40px;
    margin-right: 10px;
    color: #374151;
  }
  
  .user-name {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 8px;
  }
  
  .listing-time {
    font-size: 0.875rem;
    color: #888;
    margin-left: 10px;
  }
  
  .listing-image {
    width: 100%;
    border-radius: 8px;
    margin: 16px 0;
  }
  
  .listing-details {
    margin-top: 16px;
  }
  
  .listing-details h2 {
    font-size: 1.5rem;
  }
  
  .transaction-details {
    margin-top: 8px;
  }

  .location-details {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 16px;
  }
  
  .badge {
    background-color: #48a9f8;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.875rem;
    margin-left: 4px;
  }
  
  /* Transaction Button Container */
  .transaction-button-container {
    position: relative;
    margin-top: 16px;
    text-align: center;
  }
  
  .transaction-button {
    padding: 10px;
    background-color: #48a9f8;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;

  }
  .ppp {
    margin: 16px;
    margin-left: 0;
    margin-right: 0;
  }