/* General Styles */
html {
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-bottom: 60px;
  
  /* Ensure content doesn't get hidden behind the footer */
}

.message-list {
  padding-top: 60px;
  flex-direction: column;
  height: 100vh;
  background-color: #FFFFFF;

}


/* Messages List */
.messages-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  /* Scrollable area */
}

/* Individual Message Item */
.message-item {
  display: flex;
  align-items: center;
  /* Vertically align all elements within the item */
  background-color: white;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.2s;
}

.message-item:hover {
  background-color: #f0f0f0;
}

/* Avatar Icon */
.avatar-icon {
  font-size: 40px; /* Increased size for better balance */
  color: #9ca3af;
  margin-right: 5px;
  margin-left: 5px;
}

.message-info {
  flex-grow: 1;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.names {
  font-weight: bold;
  font-size: 1rem;
  color: #111827;
  padding-left: 5px;
}

.time {
  font-size: 0.75rem;
  color: #9ca3af;
}

/* Message content */
.message-content {
  font-size: 0.875rem;
  color: #4b5563;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

/* Arrow Icon */
.arrow {
  color: #9ca3af;
  font-size: 1.25rem;
  margin-left: 8px;
}