html {
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    padding-bottom: 60px; /* Ensure content doesn't get hidden behind the footer */
}

.search-container {
    position: relative;
    flex-grow: 1;
}

.top-section-wrapper + .request-list {
  margin-top: 140px;
}

.search-box {
    width: 100%;
    padding-left: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #666;
    transition: all 0.3s ease;
}

.search-box::placeholder {
    color: #999;
}

.search-box:focus {
    outline: none;
    border-color: #48a9f8;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    opacity: 0.7;
}

.icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.bell-icon {
    opacity: 0.7;
}

 /* Add color inversion and underline styling */
 .tab.active {
  color: #000000;
  font-weight: bold;
  border-bottom: 2px solid #48a9f8;
}

.tab {
  color: #888; /* default inactive color */
}

.content-ppp {
  font-size: 18px;
}

/* Request List */
.request-list {
    padding: 10px;
    padding-bottom: 330px;
    margin-top: 130px;
}

/* Request Item Styles */
.request-item {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-info {
  margin-left: 10px;
}

.avatar-icon {
  color: gray;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  color: #374151;
}

.time {
  font-size: 0.875rem;
  color: #9ca3af;
}

.content {
  margin-top: 10px;
}

.request-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.like-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.like-icon {
  font-size: 24px;
  color: gray;
  transition: color 0.3s;
}

.liked-icon {
  font-size: 24px;
  color: red;
}


/* Post Button */
.post-button {
    position: fixed;  /* Fix the button to the screen */
    bottom: 100px;     /* Position it 20px from the bottom */
    right: 20px;      /* Position it 20px from the right */
    background-color: #48a9f8;  /* Button background color */
    color: white;  /* Icon color */
    border-radius: 50%;  /* Make it round */
    width: 60px;   /* Set width */
    height: 60px;  /* Set height */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);  /* Add some shadow */
    cursor: pointer;  /* Make it clickable */
    z-index: 1000;  /* Ensure it's above other content */
    transition: background-color 0.3s ease;  /* Smooth transition */
  }
  
  .post-button:hover {
    background-color: #3177c9;  /* Change background color on hover */
  }
  
  .post-icon {
    font-size: 36px;  /* Adjust the size of the icon */
  }
  
  /* General Container */
.post-add-container {
  padding: 20px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Text Input */
.post-textarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
}

/* Image Upload */
.image-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.uploads-button {
  width: 90%;
  padding: 0.875rem;
  border: 1px dashed #9ca3af;
  /* Dashed border for upload button */
  background-color: #f9fafb;
  border-radius: 0.75rem;
  justify-content: center;
  color: #6b7280;
}

.upload-button:hover {
  border-color: #4299e1;
  background-color: #ebf8ff;
  /* Light blue background on hover */
}

.image-upload-input {
  display: none;
}

.uploaded-image-preview {
  margin-top: 20px;
  width: 90%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/* Submit Button */
.post-submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #2563eb;
  color: #2563eb;
  border-radius: 24px;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-submit-button:hover {
  background-color: #2563eb;
  color: #fff;
}

.request-link {
  text-decoration: none;
  color: #555;
}

.request-item .delete-button {
  margin-left: auto; /* 左側のマージンを自動にして右寄せ */
}
