/* General Styles */
html {
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-bottom: 60px;
}



.search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px; 
  padding: 0 1rem; /* Add padding to match design */
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  outline: none;
}

.input-field::placeholder {
  color: #999;
}

/* Dropdown styling */
.dropdown-container {
  position: relative;
}

.dropdown-select {
  width: 100%;
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.dropdown-select:focus {
  border-color: #4299e1;
}

.dropdown-container::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1rem;
  color: #999;
}

/* Search Button */
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #4299e1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #3182ce;
}

.search-icon {
  font-size: 1.5rem;
  color: white;
  margin-right: 8px; /* Add some space between the icon and the text */
}

.search-text {
  font-size: 1.25rem;
}

.search-icon {
  font-size: 1.5rem;
  color: grey;
}
