/* General Styles */
html {
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding-bottom: 60px;
}
.notifications-list {
  margin-top: 20px;
 
}

.notifications-div {
  padding-top: 60px;
  margin-bottom: 60px;
}

.notification-item {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff; /* 通知の背景色 */
  border: 1px solid #e0e0e0; /* 通知の枠線 */
  border-radius: 8px; /* 角を丸く */
  padding: 15px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s; /* ホバー時の影の効果 */
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); /* 下に薄い影を追加 */

}

.notification-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ホバー時の影 */
}

.notification-message {
  font-size: 16px;
  color: #333; /* メッセージの色 */
}

.notification-date {
  font-size: 12px;
  color: #888; /* 日付の色 */
  margin-top: 5px;
  display: block; /* 日付をブロック要素に */
}

.no-notifications {
  text-align: center;
  color: #888; /* メッセージの色 */
  font-size: 16px;
}

.notification-item.warning {
  background-color: rgb(255, 191, 191);
}
